.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 200px;
  background: var(--bg);
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  animation: spin 1.4s ease-in-out infinite;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
