.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 200px;
  background: var(--bg);
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  animation: spin 1s cubic-bezier(0.12, 0, 0.88, 1) infinite;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
