.icon {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.icon svg {
  width: 100%;
  height: 100%;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon.sizeSm {
  width: 1em;
  height: 1em;
}

.icon.sizeLg {
  width: 1.5em;
  height: 1.5em;
}
